<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:15</td>  <td>Intro to CDS </td> </tr>
      <tr> <td>09:15</td>  <td>Encountering Rmarkdown  </td> </tr>
      <tr> <td>10:15</td>  <td>Regular Expressions </td> </tr>
      <tr> <td>11:15</td>  <td>Practising Regular Expressions</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break  :: Final Project information</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td> </tr>
      <tr> <td>14:15</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td> </tr>
      <tr> <td>15:15</td>  <td>Homework: Danish Kings and Aarhus Occupations</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
     </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:15</td>  <td>Before we start with R</td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://datacarpentry.org/r-socialsci/">Starting with data</a></td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://datacarpentry.org/r-socialsci/">Data wrangling with tidyverse</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break :: Homework information </td> </tr>
      <tr> <td>13:00</td>  <td>Data wrangling and visualisation in tidyverse</td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://datacarpentry.org/r-socialsci/">Reproducible reports with rmarkdown</a></td> </tr>
      <tr> <td>15:00</td>  <td>Recap and Exercises</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:15</td>  <td>Intro to Rmarkdown </td> </tr>
      <tr> <td>09:15</td>  <td>Automating Tasks with the Unix Shell  </td> </tr>
      <tr> <td>10:15</td>  <td>Automating Tasks with the Unix Shell (Continued) </td> </tr>
      <tr> <td>11:15</td>  <td>Intro to Git</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break  :: Ask a Question !  </td> </tr>
      <tr> <td>13:00</td>  <td>Practising Git</td> </tr>
      <tr> <td>14:00</td>  <td>Exercises</td> </tr>
      <tr> <td>15:00</td>  <td>Exercises and What's Next?</td> </tr>
      <tr> <td>15:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
     </table>
  </div>
</div>
